*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cinza-escuro: #1f1e1e;
}

body{
    background-color: #76af55;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    background-image: url(img/fundoheader.jpg);
    padding: 20px;
    text-align: center;
    width: 100%;
    top: 0;
    position: relative;
    z-index: 900;
    display: flex;
    justify-content: space-between;
}

header img{
    width: 250px;
    margin: 0 auto;
}

header a:hover{
    color: #ffcc00;
}

.index{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.index img{
    width: 200px;
    display: block;
    margin: 40px auto;
    transition: transform 0.3s;
}

.index img:hover{
    transform: scale(1.1);
}

.index p{
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    padding: 0 60px;
}

.index button{
    display: block;
    margin: 30px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.index button:hover{
    background-color: #f0cc3f;
    color: var(--cinza-escuro);
    border: solid 2px white;
}

.index a{
    text-decoration: none;
}

footer{
    background-color: var(--cinza-escuro);
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    margin-top: auto;
    z-index: 900;
}

/* conjuntos*/

.mods,
.biomas,
.curiosidades{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.mod{
    margin: 20px;
    height: 350px;
    width: 300px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(16, 43, 3, 0.5);
    transition: background-color 0.3s, transform 0.3s;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.mod:hover,
.bioma:hover{
    background-color: rgba(16, 43, 3, 0.8);
}

.mods p,
.biomas p{
    margin-bottom: 20px;
    margin: 0
}

.blocos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.mod a{
    color: white;
}

.titulos h2,h3{
    margin-bottom: 5px;
    text-align: center;
}

.titulos p{
    margin-bottom: 20px;
}

/* Explorar */
.explorar{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
}

.categorias {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}

.categoria{
    margin: 0 20px;
    margin-bottom: 30px;
    padding: 10px;
}

.categoria a{
    text-decoration: none;
    font-weight: 800;
    color: var(--cinza-escuro);
}

.categoria img{
    width: 150px;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: transform 0.3s;
}

.categoria img:hover{
    transform: translateY(-5%);
}

/* Mods */
.mod img{
    width:100%;
    height:180px;
    object-fit:cover;
    border-radius: 10px;
}

/* Biomas */

.bioma img{
    width: 180px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: solid 10px rgb(138, 99, 40);
}

.biomas a{
    color: black;
}

.bioma{
    max-width: 200px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 7px;
    background-color: rgb(221, 221, 221);
    transition: background-color 0.3s, transform 0.3s;
    text-align: right;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.biomas p, h4{
    text-align: left;
}

.biomas h4{
    font-size: 20px;
}

.bioma:hover{
    background-color: rgb(243, 242, 242);
    transform: translateY(-5%);
}

/* Curiosidades */
.curiosidades{
    background-color: aliceblue;
}
.curiosidade{
    margin: 20px;
    border: 2px solid;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(145, 143, 143);
    transition: transform 0.3s;
    text-align: left;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 300px;
}

.curiosidade img{
    width: 60px;
    border-radius: 3px;
    margin-right: 10px;
}

.cima{
    display: flex;
    text-align: left;
    margin-bottom: 15px;
}

.curiosidade:hover{
    transform: translateY(-5%);
}

/* Suporte */
.suporte{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.suporte img{
    width: 100px;
    display: block;
    margin: 40px auto;
    transition: transform 0.3s;
    margin-right: 20px;
}

.suporte article{
    text-align: center;
    margin: 20px 0;
}

.suporte a{
    color: black;
    text-decoration: none;
    transition: color 0.3s;
}

.suporte a:hover{
    color: #ffcc00;
}

/* Menu */
.botao-menu{
    text-decoration: none;
    color: white;
    cursor: pointer;
    align-self: flex-start;
    margin: 25px;
    font-size: 28px;
    text-decoration: none;
}

.botao-menu-abrir{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100vh;
    background-color: rgba(20,20,20,0.95);
    display: none;
    flex-direction: column;
    z-index: 1000;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.3);
}

.sidebar a:hover{
    color: #ffcc00;
}

.elementos-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.elementos-menu li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}