*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #52942c;
    font-family: Arial, sans-serif;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header{
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1000;
}

header a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}

header a:hover{
    color: #ffcc00;
}

.index{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.index img{
    width: 200px;
    display: block;
    margin: 40px auto;
    transition: transform 0.3s;
}

.index img:hover{
    transform: scale(1.1);
}

.index p{
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
    color: white;
    padding: 0 60px;
}

.index button{
    display: block;
    margin: 30px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.index button:hover{
    background-color: #f0cc3f;
    color: #333;
    border: solid 2px white;
}

.index a{
    text-decoration: none;
}

footer{
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    margin-top: auto;
    z-index: 1000;
}

/* conjuntos*/

.mods,
.biomas,
.curiosidades{
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    color: white;
    text-align: center;
}

.mod,
.bioma{
    margin: 20px;
    height: 350px;
    width: 300px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(16, 43, 3, 0.5);
    transition: background-color 0.3s, transform 0.3s;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.mod:hover,
.bioma:hover,
.curiosidade:hover{
    background-color: rgba(16, 43, 3, 0.8);
    transform: translateY(-5%);
}

.mods p,
.biomas p,
.curiosidades p{
    margin-bottom: 20px;
    margin: 0
}

.blocos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.mod a,
.bioma a{
    color: white;
}


/* Explorar */
.explorar{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    color: white;
    text-align: center;
    margin-top: 30px;
}

.categorias{
    text-align: center;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.categoria{
    margin: 0 20px;
    margin-bottom: 30px;
    height: 350px;
    width: 200px;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    display: block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgba(16, 43, 3, 0.5);
    transition: background-color 0.3s, transform 0.3s;
}

.categoria:hover{
    background-color: rgba(16, 43, 3, 0.8);
    transform: translateY(-5%);
}

.categoria button{
    width: 150px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 5px;
}

.categoria img{
    width: 150px;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

/* Mods */
.mod img{
    width: 150px;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

/* Biomas */

.bioma img{
    width: 275px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

/* Curiosidades */
.curiosidade{
    margin: auto;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(16, 43, 3, 0.5);
    transition: background-color 0.3s, transform 0.3s;
    text-align: left;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Suporte */
.suporte{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    color: white;
}

.suporte img{
    width: 100px;
    display: block;
    margin: 40px auto;
    transition: transform 0.3s;
    margin-right: 20px;
}

.suporte article{
    text-align: center;
    margin: 20px 0;
}

.suporte a{
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.suporte a:hover{
    color: #ffcc00;
}
